@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Employee Table</h1>

   <table style="width:100%; border:1px solid black">
       <thead>
           <tr>
               <th  style="border:1px solid black">Employee Id</th>
               <th  style="border:1px solid black">Employee Name</th>
               <th  style="border:1px solid black">Employee Designation</th>
               <th  style="border:1px solid black">Company Name</th>
               <th  style="border:1px solid black">Salary</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td style="border:1px solid black">1</td>
               <td style="border:1px solid black">Gaurav</td>
               <td style="border:1px solid black">Software Engineer</td>
               <td style="border:1px solid black">Simform</td>
               <td style="border:1px solid black">41667</td>
           </tr>
           <tr>
               <td style="border:1px solid black">2</td>
               <td style="border:1px solid black">Anand</td>
               <td style="border:1px solid black">Software Engineer</td>
               <td style="border:1px solid black">HSBC</td>
               <td style="border:1px solid black">75000</td>
           </tr>
           <tr>
               <td style="border:1px solid black">3</td>
               <td style="border:1px solid black">Parth</td>
               <td style="border:1px solid black">Software Engineer</td>
               <td style="border:1px solid black">TCS</td>
               <td style="border:1px solid black">60000</td>
           </tr> 
           <tr>
               <td style="border:1px solid black">4</td>
               <td style="border:1px solid black">Shivang</td>
               <td style="border:1px solid black">Software Engineer</td>
               <td style="border:1px solid black">Simform</td>
               <td style="border:1px solid black">41667</td>
           </tr> 
           <tr>
               <td style="border:1px solid black">5</td>
               <td style="border:1px solid black">Umang</td>
               <td style="border:1px solid black">Software Engineer</td>
               <td style="border:1px solid black">Eronkan</td>
               <td style="border:1px solid black">35000</td>
           </tr>
       </tbody>
   </table>
</div>
