@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">this is the demo of Continuous Deployment on Azure using git repo.</h1>
   <h2>this is added after hosting website</h2>
</div>
